.landing {
  padding: 6%;
  display:block;
  margin:0 auto;
  text-align:center;
  background-color:rgba(0,0,0,0.3);
  height: 900px;
  overflow: hidden;
}

body{
  background-image: url(../../assets/fafBackground.png);
  background-size: cover;
  resize: both;
  overflow: hidden;
}

img {
  width: 80%;
  -webkit-filter: drop-shadow(10px 10px 100px #222);
  filter: drop-shadow(5px 5px 5px #222);
  opacity: .9;
}

.contact{
  color: white;
  margin-top: 2%;
  font-size: 200%;
}

.element {
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: 2.5s; 
  animation-timing-function: ease-out; 
  animation-delay: .75;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.01);
    opacity: .1;
    // background-color: red;
    // border-radius: 100%;
  }
  50% {
    // background-color: orange;
    // border-radius: 100%;    
  }
  86% {
    transform: scale(1.04);    
    opacity: .6;    
  }
  100% {
    transform: scale(1);
    opacity: .9;
    // background-color: yellow;
  }
}

@media only screen and (min-width: 768px) {
  .landing {
    margin:0 auto;
  }
  img {
    width: 60%;
  }
  .contact{
    margin-top: 4%;
  }
}

@media only screen and (min-width: 1100px) {
  img {
    width: 50%;
  }
  .contact{
    margin-top: 2%;
  }
}