ul {  
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  list-style: none !important;

  
  li {
    list-style: none !important;
    height: 100%;
    font-size: 100%;
    font-style: bold;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none !important;
    
  }
  li a:hover {
    transition-duration: .5s;
    background-color: #111;
    font-weight: bold;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 768px) {
  ul {
    height: 46px;
    list-style: none !important;
    
    li {
      margin: 0 auto;      
      float: left;
      font-size: 100%;
  }
  }
}